<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<th:block th:fragment="header">
    <!-- Bootstrap CSS -->
    <link  rel="stylesheet"  href="/webjars/bootstrap/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link  rel="stylesheet"  href="/css/style.css" >
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/popper.js/umd/popper.min.js" ></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js" ></script>
    <script  src="/webjars/jquery-ui/jquery-ui.min.js"></script>
</th:block>

<th:block th:fragment="top-navigation-panel">
    <nav class="navbar fixed-top navbar-dark navbar-expand-md" style="background-color: #10a2fd;">
        <span class="navbar-brand" >DB Employeers</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Сотрудники <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/department/">Отделы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profession/">Должности</a>
                </li>

            </ul>

        </div>
    </nav>
</th:block>


</body>
</html>
