<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<th:block th:fragment="header">
    <link rel="icon" type="image/png" th:href="@{/images/favicon.png}"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous"/>
    <script th:src="@{/js/jquery-3.2.0.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}" type="text/javascript"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
</th:block>

<th:block th:fragment="top-navigation-panel">
    <div id="not-bar" class="container">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <span id="logo-span" class="navbar-brand navbar-left">DB Employeers</span>
                        <div class="container-fluid">
                            <div class="row" style="margin-left: 0px; margin-right: 0px;">
                                <div class="col-sm-auto"></div>
                                <div id="status-as-rows" class="col-sm-3" title="Статусы в строку"></div>
                                <div id="status-as-columns" class="col-sm-3" title="Статусы в колонку"></div>
                                <div class="col-sm-auto"></div>
                            </div>
                        </div>
                    </ul>
                </div>

            </div>

            <div class="navbar-collapse collapse">

                <ul id="nav-bar-list" class="nav navbar-nav">

                    <li><a href="/employeers">Сотрудники</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            Отделы
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/client/mailing">Списки рассылки</a></li>
                            <li><a class="dropdown-item" href="/template/all">Шаблоны</a></li>
                        </ul>
                    </li>

                    <li><a href="/calls" >Звонки</a>
                    </li>
                    <li><a href="/tasks">Задачи</a></li>
                    <li class="nav-item dropdown">
                        <a  class="nav-link dropdown-toggle"
                           href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            Должности
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/mentors">Менторы</a></li>
                            <li><a  class="dropdown-item"
                                   href="/hr/managers">Координаторы</a></li>
                        </ul>
                    </li>

                </ul>

            </div>
        </nav>
        <br/>
    </div>
    <!-- Небольшой скрипт для определения текущей открытой вкладки (нативщина, без зависимостей)-->
    <script th:src="@{/js/set-active-tab.js}"></script>
</th:block>


</body>
</html>
