body {
    padding:  70px 30px 30px 30px;
    }

.fa-trash:before{
    color: #ff5412; /*черный цвет*/
}


.nav__active-tab {
    border-bottom: 2px solid #333;
    color: #333!important;
    background-color: transparent;
}
/*.nav__active-tab__text {*/