<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Department</title>
    <meta charset="UTF-8"/>
    <div th:replace="fragments/fragments::header"></div>
</head>

<body>

<div th:replace="fragments/fragments::top-navigation-panel"></div>
<div  >
    <h2>Отделы:</h2>
    <div th:each="department : ${department_list}"
         th:text="${department.name}">department
    </div>
</div>

</body>
</html>
