<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Profession</title>
    <meta charset="UTF-8"/>
    <div th:replace="fragments/fragments::header"></div>
    <script th:src="@{/js/profession.js}"></script>

</head>

<body>

<div th:replace="fragments/fragments::top-navigation-panel"></div>
<div class="page-header">
    <h2>Должности:</h2>
    <div>
        <button class="btn btn-primary" data-toggle="modal" data-target="#ProfessionModal">Добавить должность</button>
    </div>
    <br>
    <table class="table table-bordered table-sm">
        <thead class="thead-dark" >
        <tr>
            <th scope="col">Наименование</th>
            <th scope="col">Описание</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="profesion : ${profession_list}">
            <th scope="row" th:text="${profesion.name}">1</th>
            <td th:text="${profesion.notice}">Mark</td>
            <td>
                <a href="#" class="fa fa-trash fa-lg"
                   th:onclick="'deleteProfessionClick('+ ${profesion.id} +')'"></a>
                &nbsp;&nbsp;&nbsp;
                <a href="#" class="fa fa-edit fa-lg"
                   th:data-professionName="${profesion.name}"
                   th:data-professionNotice="${profesion.notice}"
                   th:onclick="'editProfessionClick(this,'+ ${profesion.id} +')'"></a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<!-- Modal -->
<div class="modal" id="ProfessionModal" tabindex="-1" role="dialog" aria-labelledby="ProfessionModalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <form id="professionForm" action="/profession/add/" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="ProfessionModalTitle">Новая должность</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="modal-body" class="m-3">

                    <div class="form-group">
                        <label for="professionName">Название должности</label>
                        <input type="text" name="professionName" class="form-control" id="professionName"
                               aria-describedby="Название должности" placeholder="Название должности">
                    </div>
                    <div class="form-group">
                        <label for="professionNotice">Описание</label>
                        <input type="text" name="notice" class="form-control" id="professionNotice"
                               placeholder="Описание">
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary" role="button" id="clientData">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

    <!-- Modal confirm -->
    <div class="modal" id="confirmModal" style="display: none; z-index: 1050;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" id="confirmMessage">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="confirmOk">Подтвердить</button>
                    <button type="button" class="btn btn-default" id="confirmCancel">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
